.wrapper{
    width: 100%;
    height: auto;
}
.container-test{
    width: 80%;
    margin: auto;
}
.contact{
    background-color: #333333;
}

.Find{
    background-color:#ffffff;  
}

.Find .search-test{
    border: 1px solid bisque;
    position: relative;
    padding: 25px;
    
}

.search{
    height: auto;
    text-align: center;
}

.search .click-find{
    position: absolute;
    top: 2px;
    right: 17px;
    background-color: #ff5400;
    border: 0px;
    font-size: 31px;
    border-radius: 2px;
    width: 13%;
}

.giohang{
    color:#75bc2f;
    position: absolute;
    top: 8px;
    width: 15%;
}

.logo{
    position: relative;
}

.Find-container{
    padding-top: 75px;
    padding-bottom: 75px;
}

.logo-home{
    position: absolute;
    top: -70px;
    right: 50px;
}
.menu{
    background-color: #ff5400;
}
.menu-test{
    font-size: 16px;
}

.menu-test .menu-test1{
    color: 	#FFFFFF;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
}

.hr-slide{
    border-bottom: 2px solid green;
}

.menu-left{
    border-radius: 5px;
}

.menu-left .danhmuc{
    background-color: coral;
    color: #f2f2f2;
    font-size: 19px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu-left .ic-danhmuc{
    padding-right: 2px;
}

.drop-menu .show{
    background-color: white;
    position: absolute;
    transform: translate3d(0px, 54px, 0px);
    top: -58px;
    left: 280px;
    will-change: transform;
}

.ic-list{
    border: 1px solid;
    border-radius: 50%;
    width: 18px;
    text-align: center;
    background-color: white;
    color: black;
    
}

.ic-list:hover{
    background-color: aqua;
}

.menu-left ul li{
    border: 1px solid cornsilk;
}

.menu-left .menu-t{
    color: black;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}
.menu-left .menu-t:hover{
    background-color: #75bc2f;
    overflow: hidden;
    color: #f2f2f2;
}

.menu-t .ic-menu-t{
    color:white;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 10px;
}


.product .tieude{
    border-bottom: 2px solid #429a9d;
}

.footer{
    background-color: #262626;
}

.footer .h6{
    color: #f8ffff;
}

.ft-lienhe{
    color: darkgray;
}

.ic-footer{
    padding-right: 20px;
}

.ft-gioithieu{
    color: darkgray;
}